$max-width-xs: 768px;
$max-width-sm: 970px; 

#app {
  @media (max-width: $max-width-xs) {
    .main-nav {
      width: 0;
    }
    .ty-head {
      padding-left: 0 !important;
      .nav-menu {
        display: none;
      }
      .mp-head-title {
        display: block;
      }
    }
    .ty-page {
      padding-left: 0 !important;
    }
  }
}

.el-dialog {
  @media (max-width: $max-width-xs) {
    width: 90%;
    .el-button {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
}

.el-message-box {
  @media (max-width: $max-width-xs) {
    width: 90%;
    .el-button {
      width: 100%;
      margin: 10px 0 0 0 !important;
    }
  }
}

.el-message{
  @media (max-width: $max-width-xs) {
    min-width: auto;
    width: 90%;
  }
}